/* Omega text styles */

body, caption, th, td, input, textarea, select, option, legend, fieldset {
  font-family: Arial,Helvetica,"Nimbus Sans L",sans-serif;
  font-size: 0.9em;
  line-height: 1.3em;
  color: #4D4D4D;
}

a:link, a:visited {
  color: #0062A0;
  text-decoration: underline;
}

a:hover {
  color: #202124;
  text-decoration: none;
}

a:active {
  color: #202124;
  text-decoration: none;
  color: #000;
}

hr {
  margin: 0;
  padding: 0;
  border: none;
  height: 1px;
  background: #5294c1;
}

h1, h2, h3, h4, h5, h6 {
	font-family: Calibri, Arial, Helvetica, "Nimbus Sans L", sans-serif;
    color: #3E3E29;
}

h1 {
   font-size: 1.6em;
   line-height: 1.2em;
   margin-top: 0 !important
}

h2 {
   border-top: 1px solid #C0C0C0;
   font-size: 1.3em;
   margin-top: 1.2em !important;
   padding-top: 0.8em;
}

/* Make site titles the same size if it's an H1 (home) or H2 (internal) */
h1.site-name,
h2.site-name {
  font-size: 36px;
}

/* Make it a bit smaller for block headers */
h2.block-title {
  font-size: 18px;
  margin: 0;	
}

h2.node-title {
  font-size: 28px;
}

h3 {
    font-size: 1.2em;
    margin-top: 1.2em !important;
}

h4 {
  font-size: 19px;
}

h5 {
  font-size: 17px;
}

h6 {
  font-size: 15px;
}

ol {
  list-style: decimal;
}

ul {
  list-style: disc;
}

ul ul,
ol ol {
  padding-top: 0.5em;
}

.node ol,
.node ul {
  padding-left: 1.2em;
}

.node ul.inline,
.node ol.inline {
  padding-left: 0;
}

p, dl, hr, h1, h2, h3, h4, h5, h6, ol,
ul, pre, table, address, fieldset {

}

dt, .admin h3 {
  font-size: 18px;
  margin: 0;
}

dd {
  padding-left: 10px;
  font-size: 0.9em;
  font-style: italic;
  margin-bottom: 20px;
}
