/************************************************
Site-specific typography
************************************************/

.o1, .o2, .step {
 font-weight: bold;
 font-style: normal;
 font-family: Arial, Helvetica, "Nimbus Sans L", sans-serif;
}

.handwriting-table {
 font-family: Lucida Handwriting, Comic Sans, Comic Sans MS, cursive;
 margin-top: 0em;
 font-size: 1.1em;
 line-height: 1.7em;
}

p.letter {
 font-family: "Courier New", "DejaVu Sans Mono", monospace;
 margin-top: 0 !important;
 margin-bottom: 0 !important;
 padding: 0 !important;
 font-size: 1em;
 line-height: 1em;
 margin-left: 2em;
 margin-right: 2em;
}

span.user-entry, span.code {
  font-family: "Courier New", "DejaVu Sans Mono", monospace;
}

pre.code-level1 {

}

pre.code-level2 {

}

.pre-1-x {

}

.pre-2-x {

}

.pre-3-x {

}


p.example {
  font-size: 1.1em;
  margin-top: 0.5em;
  margin-bottom: 0 !important;
  font-style: italic;
}

p.data-storage, p.lookup-reference {
  margin-top: 0.5em;
  margin-bottom: 0 !important;
}

p.header, #region-content h3 {
  font-family: Calibri, Arial, Helvetica, "Nimbus Sans L", sans-serif;
  font-weight: bold;
  font-size: 1.2em;
  margin-top: 0.6em !important;
  margin-bottom: 0px;/* Equivalent to 1.5em in the page's base font: 1.5 / 1.5 = 1em */
  padding-bottom: 0.8em;
  border-bottom:1px solid #C0C0C0;

}

.view-id-home #region-content h3 {
  border-bottom:0px;
  padding-bottom: 0px;
  padding-top: 0.4em;
  margin-bottom: 0px;
  border-top:1px solid #DDDDDD;
}

.view-id-home table.views-view-grid {
  margin-top: 0px;

}

/* 

/* Previous and Next */

span#prev, span#next, span#prev-unavailable, span#next-unavailable
{
 font-size: 10px; 
}

span#prev-unavailable, span#next-unavailable {
   text-decoration:none;
   border:1px solid #cacaca;
   padding:0;
   margin-left: 10px;
   width:60px;
   padding-left: 10px;
   padding-right: 10px;
   text-align:center;
   background:#F4FBFC;
   color:#3E3E29 !important;
}

#prev a, #prev a:visited, #next a, #next a:visited {
   text-decoration:none;
   border:1px solid  #A1A1A1;
   padding:0;
   margin-left: 10px;
   width:60px;
   padding-left: 10px;
   padding-right: 10px;
   text-align:center;
   background:#DBF3F7;
   color: black !important;
   font-weight: bold;
}

#prev a:hover, #next a:hover {
   background: #F68428;
   border:1px solid #A1A1A1;
   color:white !important;
}

.views-field-field-message {display: inline; float: left; margin-right: 10px;}

.views-field-field-message div.field-content {
   text-decoration:none;
   font-size: 0.8em;
   border:1px solid  #00AEC5;
   padding:0;
   width:40px;
   padding-left: 10px;
   padding-right: 10px;
   text-align:center;
   background:#00AEC5;
   color: white !important;
   font-weight: bold;
   display: inline;
   overflow:hidden;
}

.handwriting-table {
  margin-top:0.5em
}

p.why, p.attention {
  margin-top:1em;
  margin-bottom:1.5em;
  background-color: #F4FBFC;
  padding: 1.5em;
  background:#F4FBFC;
  font-size: 0.9em;
  -moz-box-shadow: 0px 5px 5px #ccc;
  -webkit-box-shadow: 0px 5px 5px #ccc;
  box-shadow: 0px 5px 5px #ccc;
}

span.why, span.attention {
 font-weight: bold;
 font-style: normal;
 font-family: Arial, Helvetica, "Nimbus Sans L", sans-serif;
 font-family: Lucida Handwriting, Comic Sans, Comic Sans MS, cursive;
}

th, .thead, thead {
 font-weight: bold;
}

.pop-up:link {
   text-decoration:none;
}

.pop-up:visited {
     text-decoration:none;
}

.pop-up:hover,
.pop-up:focus {
     text-decoration:none;
}

.pop-up:active {
     text-decoration:none;
}

.hidden {
  display: none;
  visibility: hidden;
}

pre.menu-title {
  margin-top:1em !important;
  padding-top: 0.5em !important;
  font-weight: bold;
}

pre.code, pre.Preformatted_20_Text, .pre-1-x, .pre-2-x, .pre-3-x, pre.menu, pre.menu-title, pre.menu-optional, pre.menu-disabled, pre.menu-optional-disabled, pre.code-level1, pre.code-level2 {
 font-family: "Courier New", "DejaVu Sans Mono", monospace;
 margin-top: 0 !important;
 margin-bottom: 0 !important;
 padding: 0 !important;
 font-size: 1em;
 line-height: 1em;
 margin-left: 1em;
 margin-right: 1em;
}

pre.t01 {
margin-top:1em !important;
}

table pre {
 font-family: "Courier New", "DejaVu Sans Mono", monospace;
 margin-top: 0 !important;
 margin-bottom: 0 !important;
 padding: 0 !important;
 font-size: 1em;
 line-height: 1em;
 margin-left: 1em;
 margin-right: 1em;
}

table pre.t01 {
margin-top:0.5em !important;
}

.pub-summary {
 margin-top: 0 !important;
 margin-bottom: 0 !important;
 padding: 0 !important;
 font-size: 0.9em;
 line-height: 1.1em;
}

.SlTextPosContainer {position: relative;} /*to place text on Home Page smartlinks */

.SlTextPos {position: absolute; top:7px; right:16px; width:130px; text-align:right; color:#666666; text-transform:uppercase; text-decoration:none; font-weight:bold;font-size: 13px; text-shadow: 0px 0px 2px #ccc;} 

.sl_restrict_size {width:185px; height:98px; padding:4px; overflow:hidden;} /*2011*/


a.icon-link, a.icon-link:visited {
   text-decoration:none !important;
   color: #666666 !important;
}

/* this hides the publication nodes in the search */
.node-publication {
  display: none;
  visibility: hidden;
}
