/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */

/* This file will hold the main styles for your website. */
/* This file is a base starter file with the regions and wrappers */
/* pre-filled for easy identification. This style sheet also assumes */
/* that the full-width wrappers are enabled for each zone */

/*
 * CIT-specific stylesheets
 */

@import url(cit-positioning.css);
@import url(cit-tables.css);
@import url(cit-colors.css);
@import url(cit-custom-new.css);
/* @import url(cit-custom.css); */
@import url(blocks.css);

body {
	font-family: Arial, Helvetica, "Nimbus Sans L", sans-serif;
	}
		
#page {
	}
	#zone-user-wrapper {
		}
		#zone-user {
			padding-top: 8px;
			}
				#region-user-first {
					}
				#region-user-second {
					}
	#zone-branding-wrapper {
		}
		#zone-branding {
			padding-top: 20px;
			padding-bottom: 20px;
			}
			#region-branding {
				}
	#zone-menu-wrapper {
		}
		#zone-menu {
			}
			#region-menu {
				}
				.region-menu-inner {
					padding-top: 4pt;;
					padding-left: 4pt;
					padding-right: 4pt;
					padding-bottom: 2pt;
					}			
			#region-menu a {
				color: #FFFFFF;
				font-weight: bold;
				color: white;
				text-decoration: none;
				font-family: Calibri, Arial, Helvetica, "Nimbus Sans L", sans-serif;
				}
		    #region-menu li:hover,
			#region-menu a:focus,
			#region-menu a:hover,
			#region-menu a:active,
			#region-menu li li {
				color:  #FF9442;
				}
				
			#region-search {
				}
				.region-search-inner {
					padding-top: 4pt;;
					padding-left: 4pt;
					padding-right: 4pt;
					padding-bottom: 5pt;
					float: right;
					}	
	#zone-header-wrapper {
		}
		#zone-header {
			}
			#region-header-first {
				}
			#region-header-second { 
				}
	#zone-preface-wrapper {
		}
		#zone-preface {
			}
			#region-preface-first {
				}
			#region-preface-second {
				}
			#region-preface-third {
				}
	#zone-content-wrapper {
		}
	    /* This is the background to the interior content zone*/				
		#zone-content {
			}
			#breadcrumb {
				}
			#messages {
				}
			#region-content {
				}
				/* The --10 is added to the selectors on the search results page */				
				.region-content .region-inner {
					margin: 10px;
					padding: 10pt;
					}
			/* This is the padding around the sidebar-first content */
			.region-sidebar-first {
				}
				/* This is the actual sidebar-first content */
				.region-sidebar-first .region-inner {
					margin: 0px;
					padding-top: 10px;
					padding-right: 0px;
					padding-bottom: 10px;
					padding-left: 10px;					
					/* border: 1px solid #F68428;  */
					}
			/* This is the padding around the sidebar-second content */
			.region-sidebar-second {
				}
				/* This is the actual sidebar-first content */
				.region-sidebar-second .region-inner {
					margin: 0px;
					padding-top: 10px;
					padding-right: 10px;
					padding-bottom: 10px;
					padding-left: 0px;	
					}
	#zone-postscript-wrapper {
		}
		#zone-postscript {
			}
			#region-postscript-first {
				}
			#region-postscript-second {
				}
			#region-postscript-third {
				}
			#region-postscript-fourth {
				}
	#zone-footer-wrapper {
			}
		#zone-footer {
			}
			#region-footer-first {
			}
				.region-footer-first-inner {
					padding-top: 10pt;;
					padding-left: 4pt;
					padding-right: 4pt;
					padding-bottom: 10pt;	
					}
			#region-footer-second {
			}				
				.region-footer-second-inner {
					padding-top: 10pt;;
					padding-left: 4pt;
					padding-right: 4pt;
					padding-bottom: 10pt;	
					}



