/* This file will hold styles that are loaded using the same media query as the wide grid. */
body {
	background: url(../images/faux-columns-1200-body.png) repeat-y 50% 0;
	}
	#zone-user-wrapper {
			background: url(../images/faux-columns-1200-user.png) repeat-y 50% 0;
			}
	#zone-branding-wrapper {
			background: url(../images/faux-columns-1200-branding.png) repeat-y 50% 0;
			}
	#zone-menu-wrapper {
			background: url(../images/faux-columns-1200-menu.png) repeat-y 50% 0;
			}
	#zone-header-wrapper {
			background: url(../images/faux-columns-1200-page.png) repeat-y 50% 0;
			}
	#zone-preface-wrapper {
			background: url(../images/faux-columns-1200-page.png) repeat-y 50% 0;
			}
	#zone-content-wrapper, section .zone-wrapper {
			background: url(../images/faux-columns-1200-page.png) repeat-y 50% 0;
			}
	#zone-postscript-wrapper {
			background: url(../images/faux-columns-1200-page.png) repeat-y 50% 0;
			}
	#zone-footer-wrapper {
			background: url(../images/faux-columns-1200-footer.png) repeat-y 50% 0;
			}