/* This file will hold styles that are loaded using the same media query as the narrow grid. */
/* If you are using the default media queries provided by Omega, these styles will also
 *  apply to the normal and widescreen layouts. You may override these styles in the normal 
 *  and widescreen CSS files as appropriate. */
body {
	background: url(../images/faux-columns-720-body.png) repeat-y 50% 0;
	}
	#zone-user-wrapper {
			background: url(../images/faux-columns-720-user.png) repeat-y 50% 0;
			}
	#zone-branding-wrapper {
			background: url(../images/faux-columns-720-branding.png) repeat-y 50% 0;
			}
	#zone-menu-wrapper {
			background: url(../images/faux-columns-720-menu.png) repeat-y 50% 0;
			}
	#zone-header-wrapper {
			background: url(../images/faux-columns-720-page.png) repeat-y 50% 0;
			}
	#zone-preface-wrapper {
			background: url(../images/faux-columns-720-page.png) repeat-y 50% 0;
			}
	#zone-content-wrapper, section .zone-wrapper {
			background: url(../images/faux-columns-720-page.png) repeat-y 50% 0;
			}
	#zone-postscript-wrapper {
			background: url(../images/faux-columns-720-page.png) repeat-y 50% 0;
			}
	#zone-footer-wrapper {
			background: url(../images/faux-columns-720-footer.png) repeat-y 50% 0;
			}